body {
    display: grid;
    font-family: sans-serif;
    font-size: 24px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    min-height: 100vh;
    margin: 10px;
    padding: 10px;
}

aside {
    background-color: #d5dbef;
    grid-area: aside;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    /* name of area */
}

main {
    background-color: #aeb9e4;
    grid-area: main;
    padding: 40px;
    border: 1px solid #000;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    /* name of area */
}

footer {
    background-color: black;
    grid-area: footer;
    display: flex;
    justify-content: center;
}

footer,
header {
    min-height: 60px
}

p {
    display: flex;
    justify-content: center;
    ;
}

img {
    width: 430px;
    height: 380px;
    margin: auto;
}

.bounce {
    animation: bounceIn 1s infinite 2s;
}

@keyframes bounceIn {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}