body {
    display: grid;
    font-family: sans-serif;
    font-size: 24px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

aside {
    background-color: #38b18a;
    grid-area: aside;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* name of area */
}

main {
    background-color: #92d97c;
    grid-area: main;
    padding: 40px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    /* name of area */
}

footer {
    background-color: #f9f871;
    grid-area: footer;
    display: flex;
    justify-content: center;
}

footer,
header {
    min-height: 60px
}

p {
    display: flex;
    justify-content: center;
    ;
}

img {
    width: 400px;
    height: 250px;
    margin: auto;
}